.ChatSide
  .Left-Header
    .Left-Header__list
      .Left-Header__username
        ryuki
      %ul.Left-Header__iconlist
        %li.Left-Header__Icon
          = link_to "#" do
            = icon("fas","edit")
        %li.Left-Header__Icon
          = link_to "#" do
            = icon("fas", "cog")
  .Group-List
    = link_to "#", class:"Group" do
      .Group
        .Group__name
          グループ名
        .Group__message
          まだメッセージはありません